[submodule "boilerplate"]
	path = boilerplate
	url = git@github.com:Firestitch/component-boilerplate.git
[submodule "list"]
	path = list
	url = git@github.com:Firestitch/fs-list.git
[submodule "checkboxgroup"]
	path = checkboxgroup
	url = git@github.com:Firestitch/fs-checkbox-group.git
[submodule "radiogroup"]
	path = radiogroup
	url = git@github.com:Firestitch/fs-radio-group.git
[submodule "datepicker"]
	path = datepicker
	url = git@github.com:Firestitch/fs-datepicker.git
[submodule "file"]
	path = file
	url = git@github.com:Firestitch/fs-file.git
