[submodule "boilerplate"]
	path = boilerplate
	url = git@github.com:Firestitch/component-boilerplate.git
[submodule "list"]
	path = list
	url = git@github.com:Firestitch/fs-list.git
[submodule "checkboxgroup"]
	path = checkboxgroup
	url = git@github.com:Firestitch/fs-checkbox-group.git
[submodule "radiogroup"]
	path = radiogroup
	url = git@github.com:Firestitch/fs-radio-group.git
[submodule "datepicker"]
	path = datepicker
	url = git@github.com:Firestitch/fs-datepicker.git
[submodule "badge"]
	path = badge
	url = git@github.com:Firestitch/fs-badge.git
[submodule "file"]
	path = file
	url = git@github.com:Firestitch/ngx-file.git
[submodule "nav"]
	path = nav
	url = git@github.com:Firestitch/fs-nav.git
[submodule "common"]
	path = common
	url = git@github.com:Firestitch/fs-common.git
[submodule "address"]
	path = address
	url = git@github.com:Firestitch/fs-address.git
[submodule "form"]
	path = form
	url = git@github.com:Firestitch/fs-form.git
[submodule "banner"]
	path = banner
	url = git@github.com:Firestitch/fs-banner.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:Firestitch/deploy.git
[submodule "video"]
	path = video
	url = git@github.com:Firestitch/fs-video.git
[submodule "api"]
	path = api
	url = git@github.com:Firestitch/fs-api.git
[submodule "message"]
	path = message
	url = git@github.com:Firestitch/fs-message.git
[submodule "chat"]
	path = chat
	url = git@github.com:Firestitch/fs-chat.git
[submodule "date"]
	path = date
	url = git@github.com:Firestitch/fs-date.git
[submodule "iframe"]
	path = iframe
	url = git@github.com:Firestitch/fs-iframe.git
[submodule "download"]
	path = download
	url = git@github.com:Firestitch/fs-download.git
[submodule "transfer"]
	path = transfer
	url = git@github.com:Firestitch/fs-transfer.git
[submodule "duration"]
	path = duration
	url = git@github.com:Firestitch/fs-duration.git
[submodule "input"]
	path = input
	url = git@github.com:Firestitch/fs-input.git
[submodule "import"]
	path = import
	url = https://github.com/Firestitch/fs-import
[submodule "selectbutton"]
	path = selectbutton
	url = git@github.com:Firestitch/fs-select-button.git
[submodule "dialog"]
	path = dialog
	url = git@github.com:Firestitch/fs-dialog.git
[submodule "phone"]
	path = phone
	url = git@github.com:Firestitch/fs-phone.git
[submodule "autocompletechips"]
	path = autocompletechips
	url = https://github.com/Firestitch/fs-autocomplete-chips
[submodule "autocomplete"]
	path = autocomplete
	url = https://github.com/Firestitch/fs-autocomplete
[submodule "select"]
	path = select
	url = https://github.com/Firestitch/fs-select
[submodule "filter"]
	path = filter
	url = https://github.com/Firestitch/fs-filter.git
[submodule "toggle"]
	path = toggle
	url = git@github.com:Firestitch/fs-toggle.git
[submodule "link"]
	path = link
	url = git@github.com:Firestitch/fs-link.git
[submodule "password"]
	path = password
	url = git@github.com:Firestitch/fs-password.git
[submodule "scroll"]
	path = scroll
	url = git@github.com:Firestitch/fs-scroll.git
[submodule "responsive"]
	path = responsive
	url = git@github.com:Firestitch/fs-responsive.git
[submodule "editor"]
	path = editor
	url = git@github.com:Firestitch/fs-editor.git
[submodule "meta"]
	path = meta
	url = git@github.com:Firestitch/fs-meta.git
[submodule "connection"]
	path = connection
	url = git@github.com:Firestitch/fs-connection.git
[submodule "prompt"]
	path = prompt
	url = git@github.com:Firestitch/fs-prompt.git
[submodule "flipbook"]
	path = flipbook
	url = git@github.com:Firestitch/flipbook.git
[submodule "sidenav"]
	path = sidenav
	url = git@github.com:Firestitch/fs-sidenav.git
[submodule "gallery"]
	path = gallery
	url = git@github.com:Firestitch/fs-gallery.git
[submodule "menu"]
	path = menu
	url = git@github.com:Firestitch/fs-menu.git
[submodule "skeleton"]
	path = skeleton
	url = git@github.com:Firestitch/fs-skeleton.git
[submodule "upload"]
	path = upload
	url = git@github.com:Firestitch/ngx-upload.git
[submodule "iconpicker"]
	path = iconpicker
	url = git@github.com:Firestitch/ngx-icon-picker.git
[submodule "formeditor"]
	path = formeditor
	url = git@github.com:Firestitch/ngx-form-editor.git
[submodule "selection"]
	path = selection
	url = git@github.com:Firestitch/ngx-selection.git
[submodule "imageeditor"]
	path = imageeditor
	url = git@github.com:Firestitch/ngx-image-editor.git
[submodule "colorpicker"]
	path = colorpicker
	url = git@github.com:Firestitch/ngx-color-picker.git
[submodule "clear"]
	path = clear
	url = git@github.com:Firestitch/ngx-clear.git
[submodule "drawer"]
	path = drawer
	url = git@github.com:Firestitch/ngx-drawer.git
[submodule "progress"]
	path = progress
	url = git@github.com:Firestitch/ngx-progress.git
[submodule "label"]
	path = label
	url = git@github.com:Firestitch/ngx-label.git
[submodule "model"]
	path = model
	url = git@github.com:Firestitch/ngx-model.git
[submodule "zoompan"]
	path = zoompan
	url = git@github.com:Firestitch/ngx-zoom-pan.git
[submodule "fieldeditor"]
	path = fieldeditor
	url = git@github.com:Firestitch/ngx-field-editor.git
[submodule "tree"]
	path = tree
	url = git@github.com:Firestitch/ngx-tree.git
[submodule "legend"]
	path = legend
	url = git@github.com:Firestitch/ngx-legend.git
[submodule "attribute"]
	path = attribute
	url = git@github.com:Firestitch/ngx-attribute.git
[submodule "chip"]
	path = chip
	url = git@github.com:Firestitch/ngx-chip.git
[submodule "accountpicker"]
	path = accountpicker
	url = git@github.com:Firestitch/ngx-account-picker.git
[submodule "texteditor"]
	path = texteditor
	url = git@github.com:Firestitch/ngx-text-editor.git
[submodule "accountstatus"]
	path = accountstatus
	url = git@github.com:Firestitch/ngx-account-status.git
[submodule "signinsecurity"]
	path = signinsecurity
	url = git@github.com:Firestitch/ngx-signin-security.git
[submodule "rating"]
	path = rating
	url = git@github.com:Firestitch/ngx-rating.git
[submodule "map"]
	path = map
	url = git@github.com:Firestitch/ngx-map.git
[submodule "truncate"]
	path = truncate
	url = git@github.com:Firestitch/ngx-truncate.git
